/*!
Author:     Horizon
Author URI: https://horizon.net.sa
*/

/* General */

body {
    font-family: 'Cairo', sans-serif;
}

img {
    max-width: 100%;
}

a, a:hover, a:focus {
    text-decoration: none;
    transition-duration: 1s;
}

p {
    font-size: 18px;
    color: #7E7E7E;
    line-height: 2em;
}

ul {
    list-style-type: none;
}

[type=email], [type=number], [type=tel], [type=url] {
    direction: rtl;
}

.wow {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

button, input, optgroup, select, textarea {
    max-width: 100%;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #9ba2ad;
}

select:focus > option:checked {
    background-color: #00223A !important;
    color: #FFFFFF !important;
}

.form-check-input:checked {
    background-color: #00223A;
    border-color: #00223A;
}

.nav-tabs .nav-link {
    color: #000000;
    font-weight: bold;
    border: none;
    margin-left: -15px;
}

.nav-tabs .nav-link.active {
    color: #FEC51E;
    font-weight: bold;
    border: none;
}

.nav-tabs .nav-link.active::after {
    content: "";
    display: block;
    background-color: #FEC51E;
    height: 2px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: -8px;
}

.form-select, .form-control {
    height: 56px;
    padding: 15px;
    border-radius: 20px;
    font-size: 14px;
}

textarea.form-control {
    height: inherit;
}

.fa-star {
    color: gold;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #0474C0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0474C0;
}

/* Site Header */
#site-header {
    background: #0474C0;
    min-height: 112px;
    padding: 20px 0;
}

#site-header .container {
    z-index: 10;
}

#site-header nav .navbar-collapse {
    flex-direction: row-reverse;
}

#site-header nav li.nav-item {
    margin: 0 1em;
}

#site-header nav a.nav-link {
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
}

#site-header nav a.nav-link:hover {
    color: #FEC51E;
}

#site-header nav .lang a.nav-link {
    color: #FEC51E;
}

#site-header nav .btn-r {
    color: #DB4949;
    border-color: #DB4949;
    padding-right: 2rem !important;
    padding-left: 2rem !important;
    border-radius: 13px;
}

#site-header .modal-content .modal-footer {
    color: #FFFFFF;
    font-size: 12px;
}

#site-header .modal-content .modal-footer a {
    color: #fec51e;
    font-size: 12px;
}

#site-header .modal-content a.float-end {
    color: #000;
    font-size: 14px;
    margin-top: 25px;
}

#site-header nav .round {
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #F9F9F9;
    text-align: center;
}

#site-header nav .round a {
    color: #6F7784;
}

#site-header nav .round img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

#site-header nav .input-search {
    background-color: #F5F5F5;
    padding-left: 45px;
}

#site-header nav .btn-search {
    background-color: transparent;
    border: none;
    margin-right: -40px;
    z-index: 999;
}

#site-header .right {
    position: absolute;
    top: 250px;
    right: 0;
    width: 70px;
    display: block;
    z-index: 10;
    background: #FFFFFF;
    padding: 15px;
    text-align: center;
}

#site-header .left {
    position: absolute;
    top: 250px;
    left: 0;
    width: 70px;
    display: block;
    z-index: 10;
    background: #FFFFFF;
    padding: 15px;
    text-align: center;
}

/* sign-up & sign-in */
.modal-backdrop.fade.show {
    z-index: 9;
}

#site-header .modal {
    top: 10%;
    padding-bottom: 150px;
}

#site-header .modal .modal-header {
    border: none;
}

#site-header .modal .modal-footer {
    border: none;
    background: #0a58ca;
    justify-content: flex-start;
}

#site-header #regForm .tabReg {
    display: none;
}

#site-header #regForm .step {
    display: none;
}

#site-header #regForm button#nextBtnReg, #site-header #regForm button#prevBtnReg {
    background: #FEC51E;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    bottom: 40px;
}

#site-header #regForm button#prevBtnReg {
       left: 75px;
   }

#site-header #loginForm button, #site-header #restForm button {
    background: #FEC51E;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    bottom: 40px;
}

#site-header input[type="file"] {
    font-size: 11px;
    background: #fec51e;
}



/* Site Footer */
footer#site-footer {
    margin-top: 130px;
}

#site-footer .cols{
    background: #F7F7F7 url("../images/true-f.png") bottom left no-repeat;
    background-size: contain;
    color: #B0B0B0;
    padding: 50px 0;
    font-size: 12px;
}

#site-footer .cols h4 {
    font-size: 17px;
    font-weight: bold;
    color: #2B2B2B;
}

#site-footer .cols .list-group-flush>.list-group-item {
    padding: 16px 0;
}

#site-footer .cols .list-group-flush>.list-group-item a {
    font-size: 14px;
    font-weight: 600;
}

#site-footer .cols .list-group-flush>.list-group-item a::after {
    content: url("../images/left.svg");
    float: left;
}

#site-footer .cols .list-group-flush>.list-group-item a.tel::after {
    content: url("../images/Call.svg");
}

#site-footer .cols .list-group-flush>.list-group-item a.email::after {
    content: url("../images/Message.svg");
}

#site-footer .cols .list-group-flush>.list-group-item h6 {
    font-size: 14px;
    font-weight: 600;
    color: #7E7E7E;
}

#site-footer .cols .bg-3 {
    background: url("../images/bg-f3.png");
    background-size: 100% 100%;
    height: 250px;
    padding: 50px;
    margin-top: -150px;
}

#site-footer .cols .btn-contact {
    background-color: #FEC51E;
    height: 60px;
    width: 60px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    left: 15px;
    bottom: -30px;
}

#site-footer .copy{
    background: #2B2B2B;
    color: #FFFFFF;
    padding: 15px 0;
    font-size: 10px;
    text-align: center;
}

#site-footer .copy span {
    color: #FEC51E;
    font-size: 15px;
}

#site-footer .bottom-btn {
    position: fixed;
    bottom: 0;
    left: 5%;
    z-index: 999;
}

#site-footer .bottom-btn .btn1 {
    color: #FFFFFF;
    background: linear-gradient(#0A8EE9, #0474C0);
    height: 55px;
    width: 190px;
    line-height: 50px;
    font-weight: bold;
    border-radius: 20px 20px 0 0;
    margin-left: 20px;
    border: none;
}

#site-footer .bottom-btn .btn1:hover {
    background: #FEC51E;
}

#site-footer .bottom-btn .btn2 {
    color: #FFFFFF;
    background: #FEC51E;
    height: 55px;
    width: 190px;
    line-height: 50px;
    font-weight: bold;
    border-radius: 20px 20px 0 0;
    border: none;
}

#site-footer .bottom-btn .btn2:hover {
    background: linear-gradient(#0A8EE9, #0474C0);
}

#site-footer .fa-arrow-up-long {
    background-color: #0474c0;
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 18px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    margin-top: -105px;
}


/* Home */
#breadcrumb-home {
    background: url(../images/bg-s.jpg) fixed center;
    background-size: cover;
    height: 100vh;
    padding-top: 12%;
    color: #FFFFFF;
    margin-top: -120px;
}

#breadcrumb-home .overlay {
    background: linear-gradient(45deg, #0474c02b, #00223a),
    url(../images/true.png) left bottom no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

#breadcrumb-home .btn-d{
    z-index: 1;
    position: relative;
}

#breadcrumb-home .home-carousel {
    padding: 40px 0;
}

#breadcrumb-home .home-carousel h2 {
    font-size: 34px;
    font-weight: bold;
    padding-top: 20px;
}

#breadcrumb-home .home-carousel p {
    font-size: 24px;
    color: #FFFFFF;
}

#breadcrumb-home .home-carousel .owl-dots {
    position: absolute;
    left: 15px;
    top: 18%;
}

#breadcrumb-home .home-carousel .owl-dots button.owl-dot {
    display: block;
    margin: 5px auto;
}

#breadcrumb-home .home-carousel .owl-dots button.owl-dot span {
    background: #FFFFFF;
}

#breadcrumb-home .home-carousel .owl-dots button.owl-dot.active span {
    width: 20px;
    height: 20px;
    background: #FEC51E;
}

#breadcrumb-home .home-carousel .owl-nav {
    position: absolute;
    left: 39%;
    bottom: 13%;
}

#breadcrumb-home .home-carousel .owl-nav button {
    background-color: #0474C0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}

#breadcrumb-home .home-carousel .owl-nav button:hover {
    background-color: #ACACAC !important;
}

#breadcrumb-home .home-carousel .owl-nav button span {
    font-size: 30px;
    line-height: 20px;
}

#catIcon {
    margin: -70px 0;
}

#catIcon a {
    color: #333333;
}

#catIcon a img {
    margin-left: 15px;
}

#about {
    padding: 170px 0 100px 0;
}

.allTitle {
    font-size: 28px;
    font-weight: bold;
    color: #2B2B2B;
}

.allTitle::after {
    content: url("../images/points.svg");
    display: inline-block;
    margin-right: 15px;
}

#categories .box {
    text-align: center;
}

#categories .box img {
    background-color: #FFFFFF;
    height: 90px;
    width: 90px;
    padding: 20px;
    margin: 5px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 #dddddd;
}

#categories .box:hover img {
    border: 1px solid #0474C0;
}

#categories .box h6 {
    font-size: 17px;
    font-weight: 700;
    margin-top: 20px;
    color: #2B2B2B;
}

#categories .box:hover h6 {
    color: #0474C0;
}

#categories .cat-carousel .owl-dots {
    margin-top: 20px;
}

#categories .cat-carousel .owl-dots button.owl-dot span {
    background: #CACACA;
}

#categories .cat-carousel .owl-dots button.owl-dot.active span {
    width: 12px;
    height: 12px;
    background: #FEC51E;
    margin-bottom: 4px;
}

#categories .cat-carousel .owl-nav {
    position: absolute;
    top: -110px;
    left: 0;
}

#categories .cat-carousel .owl-nav button {
    background-color: #0474C0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
    color: #FFFFFF;
}

#categories .cat-carousel .owl-nav button:hover {
    background-color: #ACACAC !important;
}

#categories .cat-carousel .owl-nav button span {
    font-size: 30px;
    line-height: 20px;
}

#recent {
    padding: 100px 0;
}

#recent .owl-carousel .owl-item img {
    display: inherit;
    width: auto;
}

#recent .recent-carousel .owl-dots {
    margin-top: 10px;
}

#recent .recent-carousel .owl-dots button.owl-dot span {
    background: #CACACA;
}

#recent .recent-carousel .owl-dots button.owl-dot.active span {
    width: 12px;
    height: 12px;
    background: #FEC51E;
    margin-bottom: 4px;
}

#recent .recent-carousel .owl-nav {
    position: absolute;
    top: -80px;
    left: 0;
}

#recent .recent-carousel .owl-nav button {
    background-color: #0474C0 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
    color: #FFFFFF;
}

#recent .recent-carousel .owl-nav button:hover {
    background-color: #ACACAC !important;
}

#recent .recent-carousel .owl-nav button span {
    font-size: 30px;
    line-height: 20px;
}

#famous {
    padding: 100px 0 0 0;
}

.posts-box {
    position: relative;
}

.posts-box img.attached {
    height: 200px;
    width: 100% !important;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.posts-box .right1 {
    position: absolute;
    top:15px;
    right: 15px;
    background-color: #FFFFFF;
    border-radius: 7px;
    padding: 3px;
}

.posts-box .right1 i {
    color: #CACACA;
    font-size: 13px;
    margin-right: 5px;
}

.posts-box .right1 small {
    font-size: 11px;
}

.posts-box .right2 {
    position: absolute;
    top: 70px;
    right: 15px;
    background-color: #FEC51E;
    padding: 2px 10px;
    border-radius: 10px;
    color: #FFFFFF;
}

.posts-box .left1 {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #FFFFFF;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    text-align: center;
    line-height: 35px;
}

.posts-box .left1 a {
    color: #F7F7F7;
}

.posts-box .left1.active a {
    color: #FF8151;
}

.posts-box .bottom-box {
    position: relative;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 5px #dddddd;
    margin: -50px 30px 30px 30px;
}

.posts-box .bottom-box a {
    color: #333333;
}

.posts-box .bottom-box .phone {
    position: absolute;
    left: 0;
    top: 0;
}

.posts-box .bottom-box .whatsapp {
    position: absolute;
    left: 0;
    top: 70px;
}

#breadcrumb {
    margin: 15px 0 30px 0;
}

#breadcrumb .breadcrumb-item {
    clip-path: polygon(32% 0, 100% 0%, 100% 100%, 0% 100%);
    background: #F7F7F7;
    padding: 10px 20px 10px 40px;
    font-size: 12px;
    font-weight: bold;
    color: #0474c0;
}

#breadcrumb .breadcrumb-item+.breadcrumb-item {
    clip-path: polygon(20% 0, 100% 0%, 72% 100%, 0% 100%);
    margin-right: -22px;
    padding: 10px 40px;
}

#breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    display: none;
}

#breadcrumb .breadcrumb-item a {
    color: #000000;
}

main#page {
    background: #f7f7f7;
    margin: 0 40px;
    padding: 40px;
}

main#page #pageContent {
    background: #FFFFFF;
    padding: 40px;
    border-radius: 10px;
}

#pageContent p {
    font-size: 17px;
}


.pagination {
    --bs-pagination-bg: transparent;
    --bs-pagination-border-color: transparent;
    justify-content: center;
}

.page-link {
    color: #000000;
}

.active>.page-link, .page-link.active {
    color: #FEC51E;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
}

.box-n {
    border-bottom: 1px solid #f7f7f7;
    padding-bottom: 15px;
    margin: 15px;
}

.box-n i {
    color: #0474c0;
    background: #f7f7f7;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-left: 20px;
}

.box-n a {
    color: #2f2f2f;
    font-weight: bold;
}

.box-n small {
    color: #cdcdcd;
    font-size: 9px;
}

.nav-pills .nav-link {
    color: #cdcdcd;
    font-weight: 600;
    font-size: 20px;
    border: 1px solid #FFFFFF;
    position: relative;
}

.nav-pills .nav-link i {
    margin-left: 10px;
}

.nav-pills .nav-link.active {
    color: #333333;
    border: 1px solid #0474c0;
}

.nav-pills .nav-link.active i {
    color: #0474c0;
}

.nav-pills .nav-link.active::after {
    content: url("../images/left-s.svg");
    position: absolute;
    left: -10px;
    top: 15px;
}

span.w-title {
    width: 42%;
    display: inline-flex;
    color: #0474C0;
}

.top-w {
    position: relative;
}

.top-w span.left {
    position: absolute;
    left: 0;
    top: -50px;
}

.bg-finance {
    background: url("../images/bg-finance.jpg") bottom left;
    background-size: cover;
    border-radius: 20px 20px 0 0;
    padding: 50px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.field {
    position: relative;
}

.field .fa-eye {
    position: absolute;
    left: 30px;
    top: 20px;
    font-size: 16px;
    color: #CCCCCC;
    cursor: pointer;
}
.field .fa-eye.active {
    color: #FEC51E;
}

.carousel-g .item img {
    height: 480px;
    object-fit: cover;
}

.carousel-g .owl-dots {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.carousel-g .owl-dots .owl-dot span {
    background: #ffffff;
}

.carousel-g .owl-dots .owl-dot.active span, .carousel-g .owl-dots .owl-dot:hover span {
    width: 14px;
    height: 14px;
    background: #ffffff;
    margin-bottom: 3px;
}

.scroll-r {
    overflow-x: hidden;
    overflow-y: visible;
    max-height: 350px;
    padding: 10px;
    direction: ltr;
}

.scroll-r div{
    direction: rtl;
}

.ratings .fa-star {
    color: #9ba2ad;
}

.ratings .fa-star.checked {
    color: gold;
}

.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
}

.rating label {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    cursor: pointer;
    margin: auto;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}

.rating label .icon {
    float: right;
    color: transparent;
}

.rating label:last-child .icon {
    color: #DDDDDD;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
    color: gold;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #DDDDDD;
}

.carousel-g-th .owl-nav button {
    position: absolute;
    top: 35%;
    background: #FFFFFF !important;
    height: 40px;
    width: 40px;
    box-shadow: 0 0 5px #dddddd;
    border-radius: 50% !important;
}

.carousel-g-th .owl-nav button.owl-prev {
    right: 0;
}

.carousel-g-th .owl-nav button.owl-next {
    left: 0;
}

.carousel-g-th .owl-nav button span {
    font-size: 30px;
    line-height: 25px;
    color: blue;
}

.post-box {
    z-index: 10;
    height: 480px;
    margin-bottom: -480px;
    position: relative;
}

.post-box .left {
position: absolute;
    left: 20px;
    top:20px;
}

.post-box .right {
    position: absolute;
    right: 20px;
    top:20px;
}

.post-box .bottom {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    width: 450px;
}

.post-box .bottom a {
    color: #333333;
}

.post-box .bottom .phone {
    position: absolute;
    left: 0;
    top: 0;
}

.post-box .bottom .whatsapp {
    position: absolute;
    left: 0;
    top: 70px;
}

.post-box .bottom .id-post {
    position: absolute;
    left: 20px;
    top: 20px;
}

/* addForm */
#addForm {

}

#addForm .tab {
    display: none;
}

#addForm .step {
    background: url("../images/true-g.png") top;
    background-size: contain;
    height: 20px;
    width: 25px;
    display: inline-block;
    opacity: 0.4;
}

#addForm .step.active {
    background: url("../images/true-s.png") top;
    height: 25px;
    opacity: 1;
}

#addForm .step.finish {
    opacity: 1;
}

#addForm .upload__inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
#addForm .upload__btn {
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-align: center;
    min-width: 116px;
    padding: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
    line-height: 26px;
    font-size: 14px;
}
#addForm .upload__btn:hover {
    background-color: unset;
    color: #4045ba;
    transition: all 0.3s ease;
}
#addForm .upload__btn-box {
    margin-bottom: 10px;
}
#addForm .upload__img-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
#addForm .upload__img-box {
    width: 200px;
    padding: 0 10px;
    margin-bottom: 12px;
}
#addForm .upload__img-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
}
#addForm .upload__img-close:after {
    content: '\2716';
    font-size: 14px;
    color: white;
}
#addForm .img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100%;
}


/* RESPONSIVE */
@media (min-width: 992px){
    .container {
        max-width: 1226px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

@media (max-width: 62em) {

    #site-header {

    }

    #site-header nav li.nav-item {
        text-align: center;
    }

    #breadcrumb-home .home-carousel .owl-nav {
        position: inherit;
        left: auto;
        bottom: auto;
    }

    #site-footer .cols .bg-3 {
        height: 150px;
        padding: 30px;
        margin-top: 0;
    }

    #site-footer .bottom-btn .btn1, #site-footer .bottom-btn .btn2 {
        height: 40px;
        width: 130px;
        line-height: 30px;
    }

    main#page {
        margin: 0 10px;
        padding: 10px;
    }

    main#page #pageContent {
        padding: 10px;
    }

    .post-box .bottom {
        width: 300px;
    }

    .carousel-g-th .owl-nav button {
        top: 100%;
        height: 35px;
        width: 35px;
    }

}

@media (max-width: 40em) {
    #breadcrumb-home .home-carousel {
        padding: 20px 0;
    }

    #breadcrumb-home .home-carousel h2 {
        font-size: 26px;
    }

    #breadcrumb-home .home-carousel p {
        font-size: 20px;
    }

    .nav-pills .nav-link {
        width: 100%;
    }
}
















